.home {
	background-image: url('/2002.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	margin: 0;
}

.title {
	margin: 0;
    padding: 10px;
	text-align: center;
}
